<div class="incident-container">
    <form [formGroup]="UserDialogEditForm" (ngSubmit)="addNewUser(UserDialogEditForm)">

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Nombres</mat-label>
            <input matInput required formControlName="nombres" [class.is-invalid]="UserDialogEditForm.get('nombres').invalid && UserDialogEditForm.get('nombres').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('nombres').invalid && UserDialogEditForm.get('nombres').touched" class="text-danger">
                El nombre debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Primer apellido</mat-label>
            <input matInput required formControlName="primer_apellido" [class.is-invalid]="UserDialogEditForm.get('primer_apellido').invalid && UserDialogEditForm.get('primer_apellido').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('primer_apellido').invalid && UserDialogEditForm.get('primer_apellido').touched" class="text-danger">
                El primer apellido debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Segundo apellido</mat-label>
            <input matInput required formControlName="segundo_apellido" [class.is-invalid]="UserDialogEditForm.get('segundo_apellido').invalid && UserDialogEditForm.get('segundo_apellido').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('segundo_apellido').invalid && UserDialogEditForm.get('segundo_apellido').touched" class="text-danger">
                El segundo apellido debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Número documento</mat-label>
            <input matInput required formControlName="numero_documento" [class.is-invalid]="UserDialogEditForm.get('numero_documento').invalid && UserDialogEditForm.get('numero_documento').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('numero_documento').invalid && UserDialogEditForm.get('numero_documento').touched" class="text-danger">
                El número documento debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Fecha nacimiento (AÑO-MES-DIA)</mat-label>
            <input matInput required formControlName="fecha_nacimiento" placeholder="año-mes-dia" [class.is-invalid]="UserDialogEditForm.get('fecha_nacimiento').invalid && UserDialogEditForm.get('fecha_nacimiento').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('fecha_nacimiento').invalid && UserDialogEditForm.get('fecha_nacimiento').touched" class="text-danger">
                La fecha nacimiento debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Número celular</mat-label>
            <input matInput required formControlName="numero_celular" [class.is-invalid]="UserDialogEditForm.get('numero_celular').invalid && UserDialogEditForm.get('numero_celular').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('numero_celular').invalid && UserDialogEditForm.get('numero_celular').touched" class="text-danger">
                El número celular debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Correo</mat-label>
            <input matInput required formControlName="correo" [class.is-invalid]="UserDialogEditForm.get('correo').invalid && UserDialogEditForm.get('correo').touched">
            <mat-hint align="end" *ngIf="UserDialogEditForm.get('correo').invalid && UserDialogEditForm.get('correo').touched" class="text-danger">
                El correo debe contener mas de 3 letras
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol">
                <mat-option value="Notario Electoral">Notario Electoral</mat-option>
                <mat-option value="Revisor">Revisor</mat-option>
                <mat-option value="Operador Revisor">Operador Revisor</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Pais</mat-label>
            <mat-select formControlName="id_pais">
                <mat-option (onSelectionChange)="cargarDep($event)" *ngFor="let pais of paises" value={{pais.id_pais}}>
                    {{ pais.pais }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="auto" hideRequiredMarker apperance="legacy">
            <mat-label>Depatamento</mat-label>
            <mat-select formControlName="id_departamento">
                <mat-option *ngFor="let departamento of departamentos" value={{departamento.id_departamento}}>
                    {{ departamento.departamento }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Guardar</button>

    </form>

    <div class="container-button text-left">
        <button mat-raised-button color="accent" (click)="cerrarDialogo()">Cancelar</button>
    </div>

</div>