/* You can add global styles to this file, and also import other style files */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */

@import "~@angular/material/theming";
@include mat-core();
@mixin material2-docs-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    .active-link {
        background-color: mat-color($background, status-bar) !important;
        color: mat-color($primary) !important;
    }
    .mat-subheader {
        color: mat-color($accent) !important;
    }
}

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-red);
$app-warn: mat-palette($mat-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
@include material2-docs-theme($app-theme);
// Before 2020-05-26
// body {
//   font-family: Roboto, Arial, sans-serif;
//   margin: 0;
// }
html,
body {
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-content {
    padding: 10px;
}

.button-uppercase {
    .mat-button,
    .mat-raised-button,
    .mat-simple-snackbar-action {
        text-transform: uppercase;
    }
}

.main-sidenav {
    width: 280px;
}

.isToggled.toggle-component-icon {
    transition-duration: 0.25s;
    transform: rotate(180deg);
}

.isUnToggled.toggle-component-icon {
    transform: rotate(0deg);
    transition-duration: 0.25s;
}

.incident-sect {
    z-index: 1;
}

.check-sect {
    z-index: 1;
}

.report-sect {
    z-index: 1;
}

.admin-sect {
    z-index: 1;
}

pre {
    white-space: pre-wrap;
    background: rgba(0, 0, 0, 0.01);
    border: 0.5px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    padding: 20px;
}